//! **************************************************************************
// Written by: Map P.20131013 on Wed Jan 09 21:43:44 2019
//! **************************************************************************

SCHEMATIC START;
COMP "sout<3>" LOCATE = SITE "M24" LEVEL 1;
COMP "sout<2>" LOCATE = SITE "L24" LEVEL 1;
COMP "sout<1>" LOCATE = SITE "R18" LEVEL 1;
COMP "sout<0>" LOCATE = SITE "M20" LEVEL 1;
COMP "hs" LOCATE = SITE "M22" LEVEL 1;
COMP "btn<0>" LOCATE = SITE "V18" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "V19" LEVEL 1;
COMP "btn<2>" LOCATE = SITE "V14" LEVEL 1;
COMP "vs" LOCATE = SITE "M21" LEVEL 1;
COMP "r<0>" LOCATE = SITE "N21" LEVEL 1;
COMP "r<1>" LOCATE = SITE "N22" LEVEL 1;
COMP "r<2>" LOCATE = SITE "R21" LEVEL 1;
COMP "r<3>" LOCATE = SITE "P21" LEVEL 1;
COMP "K_ROW" LOCATE = SITE "V17" LEVEL 1;
COMP "clk" LOCATE = SITE "AC18" LEVEL 1;
COMP "b<0>" LOCATE = SITE "T20" LEVEL 1;
COMP "b<1>" LOCATE = SITE "R20" LEVEL 1;
COMP "b<2>" LOCATE = SITE "T22" LEVEL 1;
COMP "b<3>" LOCATE = SITE "T23" LEVEL 1;
COMP "g<0>" LOCATE = SITE "R22" LEVEL 1;
COMP "g<1>" LOCATE = SITE "R23" LEVEL 1;
COMP "g<2>" LOCATE = SITE "T24" LEVEL 1;
COMP "g<3>" LOCATE = SITE "T25" LEVEL 1;
SCHEMATIC END;

